.main-title {
  font-weight: 300;
}

.main-bg {
  background-color: #eee;
  min-height: 100vh;
}

/* select box */
.select-form {
  width: 200px;
  line-height: 1.7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 5px;
}

/* ============================================== */
.form-container {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(22 157 70 / 20%);
  border-radius: 5px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form-caption {
  color: #149942;
  font-size: 2rem;
  font-weight: 400;
}

/* input field wrap */
.field-wrap {
  margin-bottom: 1.5rem;
}

.field-wrap:last-child {
  margin-bottom: 0;
}

.field-wrap > label {
  margin-bottom: 5px;
  display: inline-block;
}

.field-wrap.error > input {
  border-color: #dc3545;
}

/* input field style */
.field-style-inline,
.field-style {
  display: block;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
}

.field-style-inline,
.field-style:focus {
  outline: #149942;
  box-shadow: 0px 0px 5px rgb(20 153 66 / 30%);
}

.btnRemove,
.btnPush,
.field-style-inline {
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
}

.btnRemove,
.btnPush {
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.btnPush {
  background-color: #149942;
}
.btnRemove {
  background-color: #ea3b24;
}

/* submit button */
.btn-submit {
  border: 1px solid #ddd;
  padding: 8px 15px;
  border-radius: 5px;
  background-image: linear-gradient(91deg, #149942, #eae724);
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}

.btn-submit[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* two input field in one row */
.field-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
